.reviewForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviewForm input, textarea {
    width: 360px;
    margin: 8px;
    padding: 4px;
}
.ratingArea {
    margin: 0 auto;
}